<!-- Latest jQuery -->
<script th:src="@{/user/jsUser/jquery-3.6.0.min.js}"></script>
<!-- popper min js -->
<script th:src="@{/user/jsUser/popper.min.js}"></script>
<!-- Latest compiled and minified Bootstrap -->
<script th:src="@{/user/bootstrap/js/bootstrap.min.js}"></script>
<!-- owl-carousel min js  -->
<script th:src="@{/user/owlcarousel/js/owl.carousel.min.js}"></script>
<!-- magnific-popup min js  -->
<script th:src="@{/user/jsUser/magnific-popup.min.js}"></script>
<!-- waypoints min js  -->
<script th:src="@{/user/jsUser/waypoints.min.js}"></script>
<!-- parallax js  -->
<script th:src="@{/user/jsUser/parallax.js}"></script>
<!-- countdown js  -->
<script th:src="@{/user/jsUser/jquery.countdown.min.js}"></script>
<!-- imagesloaded js -->
<script th:src="@{/user/jsUser/imagesloaded.pkgd.min.js}"></script>
<!-- isotope min js -->
<script th:src="@{/user/jsUser/isotope.min.js}"></script>
<!-- jquery.dd.min js -->
<script th:src="@{/user/jsUser/jquery.dd.min.js}"></script>
<!-- slick js -->
<script th:src="@{/user/jsUser/slick.min.js}"></script>
<!-- elevatezoom js -->
<script th:src="@{/user/jsUser/jquery.elevatezoom.js}"></script>
<!-- scripts js -->
<script th:src="@{/user/jsUser/scripts.js}"></script>