

<!-- latest js -->
<script th:src="@{/admin/js/jquery-3.6.0.min.js}"></script>

<!-- Bootstrap js -->
<script th:src="@{/admin/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- feather icon js -->
<script th:src="@{/admin/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/admin/js/icons/feather-icon/feather-icon.js}"></script>

<!-- scrollbar simplebar js -->
<script th:src="@{/admin/js/scrollbar/simplebar.js}"></script>
<script th:src="@{/admin/js/scrollbar/custom.js}"></script>

<!-- customizer js -->
<script th:src="@{/admin/js/customizer.js}"></script>

<!-- Sidebar js -->
<script th:src="@{/admin/js/config.js}"></script>

<!-- Plugins JS -->
<script th:src="@{/admin/js/sidebar-menu.js}"></script>
<script th:src="@{/admin/js/notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/admin/js/notify/index.js}"></script>

<!-- Data table js -->
<script th:src="@{/admin/js/jquery.dataTables.js}"></script>

<!-- all checkbox select js -->
<script th:src="@{/admin/js/checkbox-all-check.js}"></script>

<!-- sidebar effect -->
<script th:src="@{/admin/js/sidebareffect.js}"></script>

<!-- Theme js -->
<script th:src="@{/admin/js/script.js}"></script>