<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fon!-- Google Font -->
ts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

</head>

<body>

<!-- LOADER -->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Checkout</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <form th:action="@{/checkout}" method="post" th:object="${user}">
                <div class="row">
                    <div class="col-12">
                        <div class="medium_divider"></div>
                        <div class="divider center_icon"><i class="linearicons-credit-card"></i></div>
                        <div class="medium_divider"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading_s1">
                            <h4>Billing Details</h4>
                        </div>

                        <div class="form-group mb-3">
                            <label>Full Name <span class="text-danger"> *</span></label>
                            <input type="text" required class="form-control" th:field="*{username}"
                                   placeholder="Full Name *">
                        </div>
                        <div class="form-group mb-3">
                            <label>Address <span class="text-danger"> *</span></label>
                            <input type="text" required class="form-control" th:field="*{address}"
                                   placeholder="Address *">
                        </div>
                        <div class="form-group mb-3">
                            <label>Email <span class="text-danger"> *</span></label>
                            <input type="text" required class="form-control" th:field="*{email}" placeholder="Email *">
                        </div>
                        <div class="heading_s1">
                            <h4>Additional information</h4>
                        </div>
                        <div class="form-group mb-0">
                                <textarea rows="5" class="form-control" th:field="*{note}"
                                          placeholder="Order notes"></textarea>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="heading_s1">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cart:${carts}">
                                        <td th:text="${cart.product.productName + ' x ' + cart.quantity}">
                                            Blue Dress For Woman x 2
                                        </td>
                                        <td th:text="${#numbers.formatDecimal(cart.product.price*cart.quantity, 0, 'COMMA', 0, 'POINT') + ' $'}">
                                            $90.00
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Coupons</th>
                                        <td class="product-subtotal" th:text="${coupons} + '$'">$349.00</td>
                                    </tr>

                                    <tr>
                                        <th>Shipping</th>
                                        <td>Free Shipping</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td class="product-subtotal" th:text="${totalCart} + '$'">$349.00</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                <div class="heading_s1">
                                    <h4>Payment</h4>
                                </div>
                                <div class="payment_option">
                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" name="payment_option"
                                               id="exampleRadios3" value="option3" checked="">
                                        <label class="form-check-label" for="exampleRadios3">Direct Bank
                                            Transfer</label>
                                        <p data-method="option3" class="payment-text">There are many variations of
                                            passages
                                            of Lorem Ipsum available, but the majority have suffered alteration. </p>
                                    </div>
                                    <div class="custome-radio">
                                        <input class="form-check-input" type="radio" name="payment_option"
                                               id="exampleRadios4" value="option4">
                                        <label class="form-check-label" for="exampleRadios4">Check Payment</label>
                                        <p data-method="option4" class="payment-text">Please send your cheque to Store
                                            Name,
                                            Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div>
                                    <div class="custome-radio">
                                        <select name="payment">
                                            <option value="Cash on delivery">Cash on delivery</option>
                                            <option value="Card">Card</option>
                                            <option value="Momo">Momo</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-fill-out btn-block" >Place Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <th:block th:insert="userview/layouts/newletter.html"></th:block>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>

</body>
</html>