<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

</head>

<body>

<!-- LOADER -->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Compare</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Compare</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="compare_box">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tbody>
                                <tr class="pr_image">
                                    <td class="row_title">Product Image</td>
                                    <td class="row_img" th:each="compareImg : ${compareList}"><img
                                            th:src="${compareImg.product.image}" alt="compare-img"></td>
                                </tr>
                                <tr class="pr_title">
                                    <td class="row_title">Product Name</td>
                                    <td class="product_name" th:each="compareName : ${compareList}"><a href="#"
                                                                                                       th:text="${compareName.product.productName}">Blue
                                        Dress For Woman</a></td>

                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">Price</td>
                                    <td class="product_price" th:each="comparePrice : ${compareList}"><span
                                            class="price" th:text="${comparePrice.product.price}">$45.00</span></td>

                                </tr>
                                <tr class="pr_add_to_cart">
                                    <td class="row_title">Add To Cart</td>
                                    <td class="row_btn" th:each="addTocart : ${compareList}"><a href="#"
                                                                                                class="btn btn-fill-out add-to-cart-btn"
                                                                                                th:data-product-id="${addTocart.product.productId}"><i
                                            class="icon-basket-loaded"></i> Add To Cart</a></td>

                                </tr>
                                <tr class="description">
                                    <td class="row_title">Description</td>
                                    <td class="row_text" th:each="description : ${compareList}"><p
                                            th:text="${description.product.description}"></p></td>
                                </tr>

                                <tr class="pr_remove">
                                    <td class="row_title">Remove</td>
                                    <td class="row_remove remove-product" th:each="compareRemove : ${compareList}">
                                        <a th:href="@{/compare-delete/{id}(id=${compareRemove.product.productId})}">Remove</a>
                                        <i class="fa fa-times"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                   placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>

    $('.add-to-cart-btn').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/addToCart?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào giỏ hàng');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:');

            }
        });

    });
</script>
<!--<script>-->

<!--    $('.remove-product').on('click', function (e) {-->
<!--        e.preventDefault();-->
<!--        var product = $(this).data('product-id');-->
<!--        console.log(product)-->
<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url: `/addToCart?productId=` + product,-->
<!--            success: function () {-->
<!--                console.log('Sản phẩm đã được xoa khoi compare');-->
<!--            },-->
<!--            error: function () {-->
<!--                console.error('Lỗi khi xao khoi compare:');-->

<!--            }-->
<!--        });-->

<!--    });-->
<!--</script>-->
</body>
</html>