<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:insert="userview/layouts/head.html"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

</head>

<body>

<!-- LOADER -->
<div class="preloader">
    <div class="lds-ellipsis">
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Compare</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Compare</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="compare_box">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <tbody>
                                <tr class="pr_image">
                                    <td class="row_title">Product Image</td>
                                    <td class="row_img"><img src="assets/images/product_img1.jpg" alt="compare-img"></td>
                                    <td class="row_img"><img src="assets/images/product_img2.jpg" alt="compare-img"></td>
                                    <td class="row_img"><img src="assets/images/product_img3.jpg" alt="compare-img"></td>
                                </tr>
                                <tr class="pr_title">
                                    <td class="row_title">Product Name</td>
                                    <td class="product_name"><a href="shop-product-detail.html">Blue Dress For Woman</a></td>
                                    <td class="product_name"><a href="shop-product-detail.html">Lether Gray Tuxedo</a></td>
                                    <td class="product_name"><a href="shop-product-detail.html">woman full sliv dress</a></td>
                                </tr>
                                <tr class="pr_price">
                                    <td class="row_title">Price</td>
                                    <td class="product_price"><span class="price">$45.00</span></td>
                                    <td class="product_price"><span class="price">$55.00</span></td>
                                    <td class="product_price"><span class="price">$68.00</span></td>
                                </tr>
                                <tr class="pr_rating">
                                    <td class="row_title">Rating</td>
                                    <td>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:80%"></div>
                                            </div>
                                            <span class="rating_num">(21)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:68%"></div>
                                            </div>
                                            <span class="rating_num">(15)</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rating_wrap">
                                            <div class="rating">
                                                <div class="product_rate" style="width:87%"></div>
                                            </div>
                                            <span class="rating_num">(25)</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="pr_add_to_cart">
                                    <td class="row_title">Add To Cart</td>
                                    <td class="row_btn"><a href="#" class="btn btn-fill-out"><i class="icon-basket-loaded"></i> Add To Cart</a></td>
                                    <td class="row_btn"><a href="#" class="btn btn-fill-out"><i class="icon-basket-loaded"></i> Add To Cart</a></td>
                                    <td class="row_btn"><a href="#" class="btn btn-fill-out"><i class="icon-basket-loaded"></i> Add To Cart</a></td>
                                </tr>
                                <tr class="description">
                                    <td class="row_title">Description</td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                    <td class="row_text"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and </p></td>
                                </tr>
                                <tr class="pr_color">
                                    <td class="row_title">Color</td>
                                    <td class="row_color">
                                        <div class="product_color_switch">
                                            <span data-color="#87554B"></span>
                                            <span data-color="#333333"></span>
                                            <span data-color="#DA323F"></span>
                                        </div>
                                    </td>
                                    <td class="row_color"></td>
                                    <td class="row_color">
                                        <div class="product_color_switch">
                                            <span data-color="#333333"></span>
                                            <span data-color="#7C502F"></span>
                                            <span data-color="#2F366C"></span>
                                            <span data-color="#874A3D"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="pr_size">
                                    <td class="row_title">Sizes Available</td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                    <td class="row_size"><span>S, M, L, XL</span></td>
                                </tr>
                                <tr class="pr_stock">
                                    <td class="row_title">Item Availability</td>
                                    <td class="row_stock"><span class="in-stock">In Stock</span></td>
                                    <td class="row_stock"><span class="out-stock">Out Of Stock</span></td>
                                    <td class="row_stock"><span class="in-stock">In Stock</span></td>
                                </tr>
                                <tr class="pr_weight">
                                    <td class="row_title">Weight</td>
                                    <td class="row_weight"></td>
                                    <td class="row_weight"></td>
                                    <td class="row_weight"></td>
                                </tr>
                                <tr class="pr_dimensions">
                                    <td class="row_title">Dimensions</td>
                                    <td class="row_dimensions">N/A</td>
                                    <td class="row_dimensions">N/A</td>
                                    <td class="row_dimensions">N/A</td>
                                </tr>
                                <tr class="pr_remove">
                                    <td class="row_title"></td>
                                    <td class="row_remove">
                                        <a href="#"><span>Remove</span> <i class="fa fa-times"></i></a>
                                    </td>
                                    <td class="row_remove">
                                        <a href="#"><span>Remove</span> <i class="fa fa-times"></i></a>
                                    </td>
                                    <td class="row_remove">
                                        <a href="#"><span>Remove</span> <i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0" placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>

</body>
</html>