<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .icon-like {
            margin-left: auto;
            display: inline-block;
            color: #ff0000;

        }

    </style>
    <style>
        /* Style cho nút like/dislike */
        .like-add {
            cursor: pointer;
            color: blue;
        }

        .liked {
            color: red;
        }
    </style>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
</head>


<body>

<!-- LOADER -->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->


<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BANNER -->
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg" data-img-src="https://images.fpt.shop/unsafe/fit-in/filters:quality(80):fill(transparent)/fptshop.com.vn/Uploads/Originals/2024/4/8/638481670443666096_desk-header.png">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-7 col-9">
                                <div class="banner_content overflow-hidden">
                                    <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInLeft"
                                        data-animation-delay="0.5s">Get up to 50% off Today Only!</h5>
                                    <h2 class="staggered-animation" data-animation="slideInLeft"
                                        data-animation-delay="1s">Laprop </h2>
                                    <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase"
                                       th:href="@{/product}" data-animation="slideInLeft"
                                       data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="/images/banner2.jsp}">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner_content overflow-hidden">
                                    <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInLeft"
                                        data-animation-delay="0.5s">50% off in all products</h5>
                                    <h2 class="staggered-animation" data-animation="slideInLeft"
                                        data-animation-delay="1s">Tablet </h2>
                                    <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase"
                                       href="shop-left-sidebar.html" data-animation="slideInLeft"
                                       data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="/images/banner3.jsp">
                <div class="banner_slide_content">
                    <div class="container"><!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner_content overflow-hidden">
                                    <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInLeft"
                                        data-animation-delay="0.5s">Taking your Viewing Experience to Next Level</h5>
                                    <h2 class="staggered-animation" data-animation="slideInLeft"
                                        data-animation-delay="1s">Summer Sale</h2>
                                    <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase"
                                       href="shop-left-sidebar.html" data-animation="slideInLeft"
                                       data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"><i
                class="ion-chevron-left"></i></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next"><i
                class="ion-chevron-right"></i></a>
    </div>
</div>
<!-- END SECTION BANNER -->

<!-- END MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION BANNER -->
    <div class="section pb_20">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single_banner">
                        <img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2024/4/5/638479134254514359_F-H1_800x300.png" alt="shop_banner_img1"/>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single_banner">
                        <img src="https://images.fpt.shop/unsafe/fit-in/800x300/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2024/4/1/638475542977468628_F-H1_800x300.png" alt="shop_banner_img2"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BANNER -->

    <!-- START SECTION SHOP -->
    <div class="section small_pt pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>Exclusive Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="arrival" role="tabpanel"
                             aria-labelledby="arrival-tab">
                            <div class="row shop_container">
                                <div class="col-lg-3 col-md-4 col-6" th:each="pro : ${productList}">
                                    <div class="product">
                                        <div class="product_img">
                                            <a th:href="@{/product}">
                                                <img th:src="${pro.image} " width="270px" height="300px"
                                                     alt="product_img1">
                                            </a>
                                            <div class="product_action_box">
                                                <ul class="list_none pr_action_btn">
                                                    <li class="add-to-cart">
                                                        <a href="#" class="add-to-cart-btn"
                                                           th:data-product-id="${pro.productId}">
                                                            <i class="icon-basket-loaded"></i> Add To Cart
                                                        </a>
                                                    </li>
                                                    <li><a href="#"  class=" compare-add"
                                                           th:data-product-id="${pro.productId}"><i
                                                            class="icon-shuffle"></i></a></li>
<!--                                                    <li><a href="#" class="popup-ajax"><i-->
<!--                                                            class="icon-magnifier-add"></i></a></li>-->
                                                    <li><a href="#" class="wishlist-add"
                                                           th:data-product-id="${pro.productId}"><i
                                                            class="icon-heart"></i></a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product_info">
                                            <h6 class="product_title"><a th:href="@{/product-detail/{productId}(productId=${pro.productId})}"
                                                                         th:text="${pro.productName}"></a></h6>
                                            <div class="product_price">
                                                <span class="price" th:text="${pro.price}">$45.00</span>
                                            </div>
                                            <div class="rating_wrap d-flex">
                                                <div class="rating">
                                                    <div class="product_rate" style="width:80%"></div>
                                                </div>
                                                <span class="rating_num">(21)</span>
                                                <a class="icon-like like-add" th:href="@{/add-likeUser}"
                                                     ></a>
                                                <span th:text="${listLike.get(pro.productId)}"></span>
                                            </div>
                                            <div class="pr_desc" th:text="${pro.description}">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                                    blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SINGLE BANNER -->
    <div class="section bg_light_blue2 pb-0 pt-md-0">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-md-6 offset-md-1">
                    <div class="medium_divider d-none d-md-block clearfix"></div>
                    <div class="trand_banner_text text-center text-md-start">
                        <div class="heading_s1 mb-3">
                            <span class="sub_heading">New  trends!</span>
                            <h2>Best Seller for summer</h2>
                        </div>
                        <h5 class="mb-4">Sale Get up to 50% Off</h5>
                        <a th:href="@{/product}" class="btn btn-fill-out rounded-0">Shop Now</a>
                    </div>
                    <div class="medium_divider clearfix"></div>
                </div>
                <div class="col-md-5">
                    <div class="text-center trading_img">
                        <img th:src="@{/user/images/tranding_img.png}" alt="tranding_img"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SINGLE BANNER -->

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="heading_s1 text-center">
                        <h2>Featured Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product_slider carousel_slider owl-carousel owl-theme nav_style1" data-loop="true"
                         data-dots="false" data-nav="true" data-margin="20"
                         data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                        <div class="item"  th:each="pro : ${productList}">
                            <div class="product">
                                <div class="product_img">
                                    <a th:href="@{/product}">
                                        <img th:src="${pro.image} " width="270px" height="300px"
                                             alt="product_img1">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart">
                                                <a href="#" class="add-to-cart-btn"
                                                   th:data-product-id="${pro.productId}">
                                                    <i class="icon-basket-loaded"></i> Add To Cart
                                                </a>
                                            </li>
                                            <li><a th:href="@{/compare}" class="popup-ajax compare-add"
                                                   th:data-product-id="${pro.productId}"><i
                                                    class="icon-shuffle"></i></a></li>
                                            <li><a th:href="@{/addToCart}" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#" class="wishlist-add"
                                                   th:data-product-id="${pro.productId}"><i
                                                    class="icon-heart"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a th:href="@{/product-detail/{productId}(productId=${pro.productId})}"
                                                                 th:text="${pro.productName}"></a></h6>
                                    <div class="product_price">
                                        <span class="price" th:text="${pro.price}">$45.00</span>
                                    </div>
                                    <div class="rating_wrap d-flex">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                        <span class="icon-like like-add"
                                              th:data-product-id="${pro.productId}"
                                              th:text="${listLike.get(pro.productId)}"
                                              data-like-status="false"></span>
                                    </div>
                                    <div class="pr_desc" th:text="${pro.description}">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                                            blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->


    <!-- START SECTION SHOP INFO -->
    <div class="section pb_70">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-shipped"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>Free Delivery</h5>
                            <p>If you are going to use of Lorem, you need to be sure there anything</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-money-back"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>30 Day Return</h5>
                            <p>If you are going to use of Lorem, you need to be sure there anything</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon_box icon_box_style1">
                        <div class="icon">
                            <i class="flaticon-support"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>27/4 Support</h5>
                            <p>If you are going to use of Lorem, you need to be sure there anything</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP INFO -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <th:block th:insert="userview/layouts/newletter.html"></th:block>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>

    $('.add-to-cart-btn').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/addToCart?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào giỏ hàng');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:');

            }
        });

    });
</script>
<script>

    $('.wishlist-add').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/add-wishlist?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào mục yeu thich');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào mục yeu thich:');
            }
        });
    });
</script>
<script>
    $('.compare-add').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/add-compare?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào mục compare');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào mục compare:');

            }
        });

    });
</script>
<!--<script>-->

<!--    let toggle = false; // Khai báo biến toggle ở phạm vi rộng hơn-->
<!--    $('.like-add').on('click', function (e) {-->
<!--        e.preventDefault();-->
<!--        let product = $(this).data('product-id');-->
<!--        let likeCount = parseInt($(this).text()); // Lấy số lượt like từ nội dung của phần tử-->
<!--        console.log(this);-->
<!--        this.classList.add("likeActive");-->
<!--        if (!isNaN(likeCount)) {-->
<!--            toggle = !toggle;-->
<!--            if (toggle) {-->
<!--                likeCount++;-->
<!--                $(this).text(likeCount); // Cập nhật số lượt like mới-->
<!--            } else {-->
<!--                likeCount&#45;&#45;;-->
<!--                $(this).text(likeCount); // Cập nhật số lượt like mới-->
<!--            }-->
<!--        } else {-->
<!--            $(this).text(1); // Nếu không phải số, gán giá trị là 1-->
<!--        }-->

<!--        $.ajax({-->
<!--            type: 'GET',-->
<!--            url: `/add-likeUser?productId=` + product,-->
<!--            success: function () {-->
<!--                console.log('Sản phẩm đã được thích');-->
<!--            },-->
<!--            error: function () {-->
<!--                console.error('Lỗi khi thích sản phẩm');-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>