<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>

<!-- LOADER -->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>My Account</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#dashboard"
                                    ><i
                                            class="ti-layout-grid2"></i>Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/profile/order}"
                                    ><i class="ti-shopping-cart-full"></i>Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/profile/address}"
                                    ><i class="ti-location-pin"></i>My
                                        Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/profile/edit-profile}"
                                       aria-selected="true"><i
                                            class="ti-id-badge"></i>Account details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       th:href="@{/profile/change-password}"> <i class="fas fa-lock"></i>Change
                                        PassWord</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/login}"><i class="ti-lock"></i>Logout</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Dashboard</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a
                                            href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent
                                        orders</a>, manage your <a href="javascript:void(0);"
                                                                   onclick="$('#address-tab').trigger('click')">shipping
                                        and billing addresses</a> and <a href="javascript:void(0);"
                                                                         onclick="$('#account-detail-tab').trigger('click')">edit
                                        account details.</a> and <a href="javascript:void(0);"
                                                                    onclick="$('#change-password-tab').trigger('click')">
                                        Change password.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h3>Orders</h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Order</th>
                                                                        <th>Date</th>
                                                                        <th>Status</th>
                                                                        <th>Total</th>
                                                                        <th>Actions</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>#1234</td>
                                                                        <td>March 15, 2020</td>
                                                                        <td>Processing</td>
                                                                        <td>$78.00 for 1 item</td>
                                                                        <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>#2366</td>
                                                                        <td>June 20, 2020</td>
                                                                        <td>Completed</td>
                                                                        <td>$81.00 for 1 item</td>
                                                                        <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                        <!--                        <div class="tab-pane fade" id="account-detail" role="tabpanel"-->
                        <!--                             aria-labelledby="account-detail-tab">-->
                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h3>Account Details</h3>-->
                        <!--                                </div>-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <form method="post" name="enq" th:action="@{/profile/edit-profile}"-->
                        <!--                                          th:object="${user}" enctype="multipart/form-data">-->
                        <!--                                        <div class="row">-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>ID <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{id}"-->
                        <!--                                                       readonly type="text">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Avatar <span class="required">*</span></label>-->
                        <!--                                                <div class="col-sm-6">-->
                        <!--                                                    <input type="file" class="form-control" onchange="showImage(this)"-->
                        <!--                                                           th:name="img">-->
                        <!--                                                    <div class="py-3">-->
                        <!--                                                        <img src="" alt="" id="customer-img"-->
                        <!--                                                             class="h-auto rounded-3 border object-fit-cover hidden"-->
                        <!--                                                             width="85%" height="45%">-->
                        <!--                                                    </div>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>User Name <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{username}"-->
                        <!--                                                       type="text">-->
                        <!--                                            </div>-->

                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Phone <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{phone}" type="text">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Email <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{email}"-->
                        <!--                                                       type="email">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Address <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{address}"-->
                        <!--                                                       type="text">-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label> Password <span class="required">*</span></label>-->
                        <!--                                                <input required="" class="form-control" th:field="*{password}"-->
                        <!--                                                       type="password">-->
                        <!--                                            </div>-->

                        <!--                                            <div class="col-md-12">-->
                        <!--                                                <button type="submit" class="btn btn-fill-out" name="submit"-->
                        <!--                                                        value="Submit">Save-->
                        <!--                                                </button>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </form>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <!--                        <div class="tab-pane fade" id="change-password" role="tabpanel"-->
                        <!--                             aria-labelledby="change-password-tab">-->
                        <!--                            <div class="card">-->
                        <!--                                <div class="card-header">-->
                        <!--                                    <h3>Change Password</h3>-->
                        <!--                                </div>-->
                        <!--                                <div class="card-body">-->
                        <!--                                    <form method="post" name="enq" th:action="@{/profile/change-password}"-->
                        <!--                                          th:object="${user}" enctype="multipart/form-data">-->
                        <!--                                        <div class="row">-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Old Password: <span class="required">*</span></label>-->
                        <!--                                                <input required type="password" class="form-control" name="old-password"-->
                        <!--                                                       placeholder="Enter Old Password">-->
                        <!--                                                <i class="bi bi-eye-slash" id="togglePassword1"-->
                        <!--                                                   onclick="togglePassword('old-password', 'togglePassword1')"></i>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>New Password: <span class="required">*</span></label>-->
                        <!--                                                <input required type="password" class="form-control" name="new-password"-->
                        <!--                                                       placeholder="Enter New Password">-->
                        <!--                                                <i class="bi bi-eye-slash" id="togglePassword2"-->
                        <!--                                                   onclick="togglePassword('new-password', 'togglePassword2')"></i>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="form-group col-md-12 mb-3">-->
                        <!--                                                <label>Confirm Password: <span class="required">*</span></label>-->
                        <!--                                                <input required type="password" class="form-control"-->
                        <!--                                                       name="confirm-password" placeholder="Confirm Password">-->
                        <!--                                                <i class="bi bi-eye-slash" id="togglePassword3"-->
                        <!--                                                   onclick="togglePassword('confirm-password', 'togglePassword3')"></i>-->
                        <!--                                            </div>-->
                        <!--                                            <div class="col-md-12">-->
                        <!--                                                <button type="submit" class="btn btn-fill-out" name="submit"-->
                        <!--                                                        value="Submit">Save-->
                        <!--                                                </button>-->
                        <!--                                            </div>-->
                        <!--                                        </div>-->
                        <!--                                    </form>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                   placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>
    function showImage(input) {
        var customerImg = document.getElementById('customer-img');

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                customerImg.src = e.target.result;
                customerImg.classList.remove('hidden');
            }
            reader.readAsDataURL(input.files[0]); // convert to base64 string
        } else {
            customerImg.src = "";
            customerImg.classList.add('hidden');
        }
    }
</script>
</body>
</html>