<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .input-with-icon {
            position: relative;
        }

        .input-with-icon input {
            padding-right: 60px; /* Chừa chỗ cho icon */
        }

        .input-with-icon .toggle-password {
            position: absolute;
            top: 50%;
            right: 30px; /* Điều chỉnh vị trí từ phải sang trái */
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>

<body>


<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>My Account</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="dashboard_menu">
                        <ul class="nav nav-tabs flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link " href="#dashboard"
                                   aria-selected="false"><i
                                        class="ti-layout-grid2"></i>Dashboard</a>
                            </li>
                            <li class="nav-item"  id="order-history">
                                <a class="nav-link active" th:href="@{/profile/order}"
                                   aria-selected="false"><i class="ti-shopping-cart-full"></i>Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/profile/address}"
                                   aria-selected="true"><i class="ti-location-pin"></i>My
                                    Address</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/profile/edit-profile}"
                                   aria-selected="true"><i
                                        class="ti-id-badge"></i>Account details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  "
                                   th:href="@{/profile/change-password}"> <i class="fas fa-lock"></i>Change
                                    PassWord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}"><i class="ti-lock"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade " id="dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Order-history</h3>
                                </div>
                                <div class="card-body">
                                    <p>From your account dashboard. you can easily check &amp; view your <a
                                            href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent
                                        orders</a>, manage your <a href="javascript:void(0);"
                                                                   onclick="$('#address-tab').trigger('click')">shipping
                                        and billing addresses</a> and <a href="javascript:void(0);"
                                                                         onclick="$('#account-detail-tab').trigger('click')">edit
                                        account details.</a> and <a href="javascript:void(0);"
                                                                    onclick="$('#change-password-tab').trigger('click')">
                                        Change password.</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade active show" id="order-history" role="tabpanel"
                             aria-labelledby="change-password-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Order History</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Total</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="order:${orders}">
                                                <td data-label="Order ID" th:text="${order.orderId}"></td>
                                                <td th:text="${order.order_at}">March 15, 2020</td>
                                                <td th:text="${#numbers.formatDecimal(order.orderTotal, 0, 'COMMA', 0, 'POINT') + ' $'}">
                                                    Processing
                                                </td>
                                                <td th:classappend="${order.orderStatus == 0 ? 'text-green' : (order.orderStatus == 1 ? 'text-primary' : 'text-danger')}"
                                                    th:text="${order.orderStatus == 0 ? 'Pending' : (order.orderStatus == 1 ? 'Confirmed' : 'Cancel')}">
                                                    $78.00 for 1 item
                                                </td>
                                                <td>
                                                    <a th:href="@{profile/order-show/{id}(id=${order.orderId})}"
                                                       class="btn btn-fill-out btn-sm">View</a>
                                                    <a th:if="${order.orderStatus==0}"
                                                       th:href="@{/profile/order-cancel/{id}(id=${order.orderId})}"
                                                       class="delete-icon btn btn-air-danger"
                                                       title="Cancel Order"><i
                                                            class="bi bi-x-lg text-danger cursor-pointer"></i>Cancel
                                                        Order</a></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                   placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>
    function togglePassword(inputId, iconId) {
        const inputField = document.querySelector(`input[name='${inputId}']`);
        const icon = document.getElementById(iconId);

        if (inputField.type === "password") {
            inputField.type = "text";
            icon.classList.remove("bi-eye-slash");
            icon.classList.add("bi-eye");
        } else {
            inputField.type = "password";
            icon.classList.remove("bi-eye");
            icon.classList.add("bi-eye-slash");
        }
    }
</script>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput1");
        var toggleIcon = document.querySelector(".toggle-password1 i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        }
    }
</script>
<script>
    function togglePasswordVisibility2() {
        var passwordInput = document.getElementById("passwordInput2");
        var toggleIcon = document.querySelector(".toggle-password2 i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        }
    }
</script>
<script>
    function togglePasswordVisibility3() {
        var passwordInput = document.getElementById("passwordInput3");
        var toggleIcon = document.querySelector(".toggle-password3 i");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("fa-eye-slash");
            toggleIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("fa-eye");
            toggleIcon.classList.add("fa-eye-slash");
        }
    }
</script>
</body>
</html>