<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <style>

        /* Biểu tượng thích */
        .icon-like {
            margin-left: 90px;
            color: #ff0000; /* Màu của biểu tượng thích */
            cursor: pointer; /* Con trỏ chuột thành dấu nhấp */
        }

        /* Hiệu ứng hover */
        .icon-like:hover {
            color: blue; /* Màu sắc thay đổi khi hover */
        }
    </style>
</head>

<body>

<!-- LOADER -->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Shop Left Sidebar</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Shop Left Sidebar</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row align-items-center mb-4 pb-1">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="product_header_left">
                                    <div class="custom_select">
                                        <select class="form-control form-control-sm">
                                            <option value="order" >Default sorting</option>
                                            <option value="popularity"><a th:href="@{/product/product-sort/asc}">Price Low to HIgh</a></option>
                                            <option value="date"><a th:href="@{/product/product-esc/desc}">Price High to Low</a></option>

                                        </select>
                                    </div>
                                </div>
                                <div class="product_header_left">
                                    <div >
                                        <form th:action="@{/product/}"
                                              method="get" class="d-inline-flex">
                                            <input
                                                    type="search" placeholder="Search" aria-label="Search"
                                                    name="searchName" th:value="${searchName}" >
                                            <button class="align-items-center btn btn-theme d-flex" type="submit">
                                                Search
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row shop_container">
                        <div class="col-md-4 col-6" th:each="pro : ${productList}">
                            <div class="product">
                                <div class="product_img">
                                    <a th:href="@{/shop-product-detail}">
                                        <img th:src="${pro.image}" alt="product_img1" width="270px" height="300px">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart">
                                                <a href="#" class="add-to-cart-btn"
                                                   th:data-product-id="${pro.productId}">
                                                    <i class="icon-basket-loaded"></i> Add To Cart
                                                </a>
                                            </li>
                                            <li><a th:href="@{/shop-compare}" class="popup-ajax compare-add"
                                                   th:data-product-id="${pro.productId}"><i
                                                    class="icon-shuffle"></i></a></li>
                                            <li><a th:href="@{/shop-quick-view}" class="popup-ajax"><i
                                                    class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#" class="wishlist-add"
                                                   th:data-product-id="${pro.productId}"><i class="icon-heart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a
                                            th:href="@{/product-detail/{productId}(productId=${pro.productId})}"
                                            th:text="${pro.productName}"></a></h6>
                                    <div class="product_price">
                                        <span class="price" th:text="${pro.price}">$45.00</span>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                        <span th:data-product-id="${pro.productId}"
                                              class="icon-like like-add"></span>
                                    </div>
                                    <div class="pr_desc" th:text="${pro.description}">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit
                                            massa enim. Nullam id varius nunc id varius nunc.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${searchName!=null}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"
                                       tabindex="-1"
                                       th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        Previous
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(1, totalPage)}"
                                    th:class="${page == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{${'/product/' + page}}" th:text="${page}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage < totalPage ? (currentPage + 1) : totalPage)}}"
                                       th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row" th:unless="${searchName!=null}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"
                                       tabindex="-1"
                                       th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        Previous
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(1, totalPage)}"
                                    th:class="${page == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{${'/product/' + page}}" th:text="${page}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage < totalPage ? (currentPage + 1) : totalPage)}}"
                                       th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row" th:if="${totalPageSort>1}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/product-sort/desc/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"
                                       tabindex="-1"
                                       th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        Previous
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(1, totalPage)}"
                                    th:class="${page == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{${'/product/product-sort/desc/' + page}}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage < totalPage ? (currentPage + 1) : totalPage)}}"
                                       th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row" th:if="${totalPageSortASC>1}">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/product-sort/asc/' + (currentPage > 1 ? (currentPage - 1) : 1)}}"
                                       tabindex="-1"
                                       th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                                        Previous
                                    </a>
                                </li>
                                <li th:each="page : ${#numbers.sequence(1, totalPage)}"
                                    th:class="${page == currentPage ? 'page-item active' : 'page-item'}">
                                    <a class="page-link" th:href="@{${'/product/product-sort/asc/' + page}}"
                                       th:text="${page}"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                       th:href="@{${'/product/' + (currentPage < totalPage ? (currentPage + 1) : totalPage)}}"
                                       th:classappend="${currentPage == totalPage ? 'disabled' : ''}">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                </div>
                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
                    <div class="sidebar">
<!--                        <div class="widget">-->
<!--                            <h5 class="widget_title">Categories</h5>-->
<!--                            <ul class="widget_categories" th:each="category:${categoryList}">-->
<!--                                <li>-->
<!--                                    <a th:href="@{/product-by-category/{id}(id=${category.categoryId})}">-->
<!--                                        <h6 th:text="${category.categoryName}"></h6>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->

                        <div class="widget">
                            <h5 class="widget_title">Categories</h5>
                            <ul class="" th:each="category:${categoryList}">
                                <li>
                                    <div >
                                        <p class="form-check-label" ><span th:text="${category.categoryName}">New Arrivals</span></p>
                                    </div>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                   placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>

    $('.add-to-cart-btn').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/addToCart?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào giỏ hàng');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:');

            }
        });

    });
</script>
<script>

    $('.wishlist-add').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/add-wishlist?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào mục yeu thich');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào mục yeu thich:');

            }
        });

    });
</script>
<script>

    $('.compare-add').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/add-compare?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào mục compare');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào mục compare:');

            }
        });

    });
</script>
<script>

    $('.like-add').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/add-likeUser?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã like san pham');
            },
            error: function () {
                console.error('Lỗi khi like san pham:');
            }
        });
    });
</script>
</body>
</html>