<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <th:block th:insert="userview/layouts/head.html"></th:block>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

</head>

<body>

<!--&lt;!&ndash; LOADER &ndash;&gt;-->
<!--<div class="preloader">-->
<!--    <div class="lds-ellipsis">-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--        <span></span>-->
<!--    </div>-->
<!--</div>-->
<!-- END LOADER -->

<!-- Home Popup Section -->

<!-- End Screen Load Popup Section -->

<!-- START HEADER -->
<th:block th:insert="userview/layouts/header.html"></th:block>
<!-- END HEADER -->

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>Wishlist</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive wishlist_table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Product Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-add-to-cart"></th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="wLish : ${wishlist}">
                                <td class="product-thumbnail"><a href="#"><img th:src="${wLish.product.image}"
                                                                               alt="product1"></a></td>
                                <td class="product-name" data-title="Product"><a href="#"
                                                                                 th:text="${wLish.product.productName}">Blue
                                    Dress For Woman</a></td>
                                <td class="product-price" data-title="Price" th:text="${wLish.product.price}">$45.00
                                </td>
                                <td class="product-add-to-cart"><a href="#" class="btn btn-fill-out add-to-cart-btn"
                                                                   th:data-product-id="${wLish.product.productId}"><i
                                        class="icon-basket-loaded"></i> Add to Cart</a></td>
                                <td class="product-remove" data-title="Remove"><a href="#" class=" remove-product"
                                                                                  th:data-product-id="${wLish.product.productId}"><i
                                        class="ti-close"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="section bg_default small_pt small_pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="heading_s1 mb-md-0 heading_light">
                        <h3>Subscribe Our Newsletter</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter_form">
                        <form>
                            <input type="text" required="" class="form-control rounded-0"
                                   placeholder="Enter Email Address">
                            <button type="submit" class="btn btn-dark rounded-0" name="submit" value="Submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->

</div>
<!-- END MAIN CONTENT -->

<!-- START FOOTER -->
<th:block th:insert="userview/layouts/footer.html"></th:block>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

<th:block th:insert="userview/layouts/scrip.html"></th:block>
<script>

    $('.add-to-cart-btn').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/addToCart?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được thêm vào giỏ hàng');
            },
            error: function () {
                console.error('Lỗi khi thêm sản phẩm vào giỏ hàng:');

            }
        });

    });
</script>
<script>

    $('.remove-product').on('click', function (e) {
        e.preventDefault();
        var product = $(this).data('product-id');
        console.log(product)
        $.ajax({
            type: 'GET',
            url: `/addToCart?productId=` + product,
            success: function () {
                console.log('Sản phẩm đã được xoa khoi muc yeu thich');
            },
            error: function () {
                console.error('Lỗi khi xao khoi muc yeu thich:');

            }
        });

    });
</script>
</body>
</html>